<br>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                Tushare.com
                            </h3>
                            <p>
                                Tushare股票模块
                            </p>
                            <p>
                                <a ui-sref="tushareStockList" class="btn btn-primary">进入</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>

                            </h3>
                            <p>

                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>

                            </h3>
                            <p>

                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="view/home/home.css">
