<br>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                Tushare.com
                            </h3>
                            <p>
                                Tushare股票模块
                            </p>
                            <p>
                                <a ui-sref="tushareStockList" class="btn btn-primary">进入</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                Xueqiu.com
                            </h3>
                            <p>
                                Xueqiu股票模块
                            </p>
                            <p>
                                <a ui-sref="xueqiuStockList" class="btn btn-primary" href="#">进入</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        股票代码
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        地区
                    </th>
                    <th>
                        行业
                    </th>
                    <th>
                        上市日期
                    </th>
                    <th>
                        昨日
                    </th>
                    <th>
                        涨跌额
                    </th>
                    <th>
                        涨跌幅
                    </th>
                    <th>
                        市值
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in stocks">
                    <td>
                        {{item.code}}
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.area}}
                    </td>
                    <td>
                        {{item.industry}}
                    </td>
                    <td>
                        {{item.list_date}}
                    </td>
                    <td>
                        {{item.yesterday}}
                    </td>
                    <td>
                        {{item.chg}}
                    </td>
                    <td>
                        {{item.percent}}%
                    </td>
                    <td>
                        {{item.market_capital}}
                    </td>
                    <td>
                        <button ui-sref="stockDetail({symbol: item.code})" class="btn btn-primary">查看</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <button ng-click="prePage()" ng-disabled="offset <= 1" class="btn btn-primary">上一页</button>
        <button ng-click="nextPage()" ng-disabled="end == true" class="btn btn-primary">下一页</button>
    </div>
</div>

<link rel="stylesheet" href="view/home/home.css">
